.categories {
    width: 80%;
    margin: 10px auto;
}

.section-header {
    margin: 0 0 24px 50px;
    font-size: 23px;
    color: #1c1d1f;
    font-weight: 800;
}

.categories .card {
    cursor: pointer;
    border: none;
}

.card .wrapper {
    overflow: hidden;
}

.categories .card-img {
    transition: 0.5s ease;
}

.categories .card-img:hover {
    transform: scale(1.1);
}

.categories .card-text {
    color: #1c1d1f;
    padding: 0.8rem 0 1.6rem;
    font-size: 16px;
    font-weight: 700;
}

@media only screen and (max-width: 1315px) {
    .categories {
        width: 100%;
    }
}