.course-card {
    padding: 5px;
    width: 15em;
    cursor: pointer;
    transition: 0.7 ease;
}

.course-img img {
    width: 100%;
    margin-bottom: 5px;
}

.course-info>div {
    margin-bottom: 5px;
}

.course-info .title,
.course-info .price {
    font-size: 14px;
    font-weight: 700;
}

.course-info .creator {
    font-size: 12px;
    font-weight: 300;
}

.bestseller {
    font-size: 12px;
    font-weight: 700;
    color: #3d3c0a;
    background-color: #eceb98;
    display: inline-block;
    padding: 4px 8px;
}

.rating .rate {
    font-size: 14px;
    font-weight: 600;
    margin-right: 0.4rem;
    color: #b4690e;
}

.rating .reviews {
    font-size: 13px;
    font-weight: 400;
    margin-left: 0.4rem;
    color: #6a6f73;
}

.course-popup {
    display: none;
}

.popup-controller {
    display: flex;
}