.course-card {
    padding: 5px;
    width: 15em;
    cursor: pointer;
    transition: 0.7 ease;
}

.course-img img {
    width: 100%;
    margin-bottom: 5px;
}

.course-info>div {
    margin-bottom: 5px;
}

.course-info .title,
.course-info .price {
    font-size: 16px;
    font-weight: 600;
}

.course-info .creator {
    font-size: 12px;
    font-weight: 300;
}

.course-info .bestseller {
    font-size: 11px;
    font-weight: 500;
    color: #3d3c0a;
    background-color: #eceb98;
    padding: 5px;
    width: 60px;
    text-align: center;
}

.rating .rate {
    font-size: 14px;
    font-weight: 600;
    margin-right: 0.4rem;
    color: #b4690e;
}

.rating .reviews {
    font-size: 13px;
    font-weight: 400;
    margin-left: 0.4rem;
    color: #6a6f73;
}
